#contents.clearfix
  = render partial: "common/sidebar"
  .main-content
    .main-content-header
      .main-content-header-group-info
        %p.main-content-header__group-title
          = @group.name
        %br/
        %p.main-content-header__members
          Members:
          - @group.users.each do |user|
            = user.name
      = link_to "Edit", edit_group_path(params[:group_id]), class: 'edit-group-btn'
    .main-content-body
      - @messages.each do |message|
        = render partial: "common/message", locals: { message: message }
    .main-content-footer
      = form_for [@group, @message] do |f|
        = f.text_area :body, class: "main-content-footer__message-box", placeholder: "Type a message here"
        = fa_icon "image"
        = f.submit "Send", class: "main-content-footer__send-button", "data-disable-with" => "Save"
